<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <div class="menu-item">
        <mat-icon class="icon">people</mat-icon>
        <span>Clientes</span>
        <div class="submenu">
          <a mat-list-item routerLink="/pages/cliente/cliente-cadastrar">
            <div class="item">
              <mat-icon class="icon">add</mat-icon>
              <span>Cadastrar Cliente</span>
            </div>
          </a>
          <a mat-list-item routerLink="/pages/cliente/cliente-listar">
            <div class="item">
              <mat-icon class="icon">list</mat-icon>
              <span>Listar Clientes</span>
            </div>
          </a>
          <a mat-list-item routerLink="/pages/cliente/cliente-atualizar">
            <div class="item">
              <mat-icon class="icon">update</mat-icon>
              <span>Alterar Cliente</span>
            </div>
          </a>
          <a mat-list-item routerLink="/pages/cliente/cliente-deletar">
            <div class="item">
              <mat-icon class="icon">delete</mat-icon>
              <span>Deletar Cliente</span>
            </div>
          </a>
        </div>
      </div>
      <div class="menu-item">
        <mat-icon class="icon">pets</mat-icon>
        <span>Animais</span>
        <div class="submenu">
          <a mat-list-item routerLink="/pages/animal/animal-cadastrar">
            <div class="item">
              <mat-icon class="icon">add</mat-icon>
              <span>Cadastrar Animal</span>
            </div>
          </a>
          <a mat-list-item routerLink="/pages/animal/animal-listar">
            <div class="item">
              <mat-icon class="icon">list</mat-icon>
              <span>Listar Animais</span>
            </div>
          </a>
          <a mat-list-item routerLink="/pages/animal/animal-atualizar">
            <div class="item">
              <mat-icon class="icon">update</mat-icon>
              <span>Alterar Animal</span>
            </div>
          </a>
          <a mat-list-item routerLink="/pages/animal/animal-deletar">
            <div class="item">
              <mat-icon class="icon">delete</mat-icon>
              <span>Deletar Animal</span>
            </div>
          </a>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <!-- Conteúdo -->
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
